[Unit]
Description=Open WebUI
After=ollama.service
Requires=ollama.service
# After=network-online.target
# Wants=network-online.target

[Container]
Image=ghcr.io/open-webui/open-webui:v0.9.6

# Pull policy
# Never pull the image
# Pull=never
# Pull only if the image does not exist locally
Pull=missing
# Pull if newer versions with same tag
# Pull=newer

ContainerName=open-webui

Network=ai.network

# PublishPort=127.0.0.1:3000:8080
PublishPort=3000:8080

Volume=/vm/ai/open-webui/data:/app/backend/data:Z

Environment=OLLAMA_BASE_URL=http://ollama:11434
# JMA: Disable authentication. Automatically login as "User"
# Environment=WEBUI_AUTH=False

# Doc: https://docs.openwebui.com/features/chat-conversations/rag/
# Recommended configuration: If you are using **Ollama**, **llama.cpp**, **OpenAI**, or **Vertex AI** and frequently "chat with your documents," set `RAG_SYSTEM_CONTEXT=True` in your environment to experience drastically faster follow-up responses!
Environment=RAG_SYSTEM_CONTEXT=True


# JMA: Normal level is INFO
Environment=GLOBAL_LOG_LEVEL=INFO
# Environment=GLOBAL_LOG_LEVEL=DEBUG


# Set CORS protection (only when reverse proxy is in place)
Environment=CORS_ALLOW_ORIGIN=https://open-webui.b-thinking.com

# User Agent for tools
Environment=USER_AGENT=OpenWebUI-OracleLinux-Lab

# Shared Secret Key (generated with `openssl rand -hex 32`)
Environment=WEBUI_SECRET_KEY=2fe45ec148e5acdb3c128095c970a87c232e80f1d9764b3bd08f85bba004c877

# hardening razonable
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target

